.activity-node {
    @media screen and #{$screen-xs} {
        margin: 0 -15px;
    }

    .activity {
    	background-color:black;
    	margin-bottom:60px;
    	padding: 35px 0;

        @media screen and #{$screen-ltlg} {
            padding: 15px 0;
        }
        @media screen and #{$screen-xs} {
            padding: 0;
            margin-bottom: 30px;
        }

        canvas {
            max-height: inherit !important;
            width: 100% !important;
        }
    }

    .activity-blrub {
    	height:150px;

        p.title {
            font-weight: bold;
        	font-size: 1.3em;
        	color: #336699;
        }
    }

    &.main-page {
        .activity-blrub {
        	height:200px;	
        }
    }
}

.related-activities {
    width: 100%;
    padding: 0;
    margin: 1em 0;

    .contextual-region .contextual .contextual-links { display:none !important; }
    .activity-image {
    	float:left; 
    	margin-right:10px;
    }
    .activity-title {
    	clear:both;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    li {
        list-style: none;
        width: 33%;
        height: 175px;
        float: left;
        padding: 0 15px;
    }
}
