.blog-date, 
.blog-author { font-size: 12px; color: #888; margin-bottom:20px; display: inline-block; }
    
a.rss-link {
    display: inline-block;
    padding-left: 33px;
    height: 28px;
    font-size: 1.2em;
    line-height: 28px;
    background: url(../images/feed-icon-28x28.png);
    vertical-align: middle;
    background-repeat: no-repeat;
    
    &:hover, &:focus, &:active {
        text-decoration:none;
    }
}

.blog-categories h2 {
    font-size:14px;
    font-weight:normal;
    margin: -1px 0;
}
.blog-page {

    .views-field-title {
        font-size:24px; 
        margin:12px 0 0px;
        font-weight:600;
    }
    .views-field-field-taxonomy {
        display: block;
        clear:both;
    }
    img {

    }
}

.blog {
    h1 {
    	margin-bottom:5px;
    }

    .article {
        .blog-page {
            .views-field-field-body-image {
                a {
                    float: left;
                    display: block;

                    img {
                        float: none;
                        width: 220px;
                    }
                    div {
                        float: none;
                    }
                }
            }
        }
        img {
        	//float:left;
        	margin-bottom:20px; 
        	margin-right:15px;

            @include screen-xs {
                max-width: 100%;
                height: auto;
                float: none;
                margin-right: 0;
                margin-left: 0;
            }
        }
        figure {
            max-width: 350px;
            float: left;
            margin-right: 15px;

            figcaption {
                width: 100%;
                margin-bottom: 15px;
                margin-right: 15px;
                font-size: 12px;
                font-style: italic;
                color: gray;
            }
        }
    
        .author {
        	font-size:11px;
        	color: #888;
        	margin-bottom:30px;
        }
    }
}
