.gallery {
    .back-to-results {
        margin-top: 8px;
    }
    .gallery-results-total {
        margin-bottom: 20px;
        display: block;
    }

    dl {
        margin-bottom: 20px;

        dt {
            color: gray;
            margin-bottom: 2px;
            font-weight: normal;
        }
        dd {
            margin-bottom: 2px;

            p {
                margin: 0;
            }
        }
    }
}
.gallery-item {
    position: relative;
    display: block;
    min-height: 240px;

    @include screen-sm {
        min-height: 275px;
    }

    p {
        text-decoration: none;
    }
    img {
        max-width: 100%;
        margin-bottom: 5px;
    }
    .glyphicon {
        position: absolute;
        top: 5px;
        right: 5px;
        color: white;
        font-size: 30px;
        opacity: 0.5;
    }
}
.gallery-image-container {
    .body-mediaitem & {
        margin-bottom: 0;
    }
    
    position: relative;
    margin-bottom: 20px;
    
    img {
        margin: 0;
    }

    & + p {
        line-height: 18px !important;
        margin: 10px 0 20px !important;
    }
}
.show-modal {
    background: #f1f2f2;
    color: #004085;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    text-align: center;
    font-size: 18px;
    line-height: 1.1;
    opacity: 0.65;
    cursor: pointer;
    font-weight: bold;
    bottom: 0;
    left: 0;

    &:hover {
        opacity: 1;
    }

    @include screen-xs {
        display: none;
    }
}
.gallery-form {
    .js-form-item {
        > label {
            margin: 10px 0 0;
        }
    }
}

#body-mediaitem-switcher {
    margin-bottom: 20px;

    .body-mediaitem-small {
        display: inline-block;
        width: 25%;
        margin-right: 1%;
        margin-bottom: 2%;
        
        img {
            max-width: 100%;
        }
    }
}
#edit-submit-gallery {
    display: none;
}
