.glossary-page {
    background:#fff;
    padding:15px 25px;
}

.glossary-page h1 {
    color:#336699
}

.glossary-page .glossary-letters span {
    font-size:18px;
}

.glossary-page .glossary-letters a {
    color:maroon;
}

.glossary-page ul {
    margin:0px;
    padding:0px;
}

.glossary-page ul li {
    list-style:none;
    border-bottom:1px dotted #ccc;
    margin-bottom:15px;
}

.glossary-letters .views-element-container {
	display:inline-block;
}