ul.link-list {
    margin:0px;
    padding:0px;
    
    li {
		list-style:none;
	}
}
    
ul.recent-posts li {
	margin-bottom: 15px;
    @extend .clearfix;

    .post-date {
    	font-size:11px;
    	color:#555;
    }
}

.homepage-item h5,
.header-row h5 {
	color:maroon;
	text-transform:uppercase;
	font-size:13px;
	letter-spacing:2px;
}
