<div class="header">
	<div class="container">
		<div class="site-header">
			<div class="row">
				<div class="pull-right">
					<ul class="list-inline social-icons">
						<li>
							<img src="http://www.historyofvaccines.org/sites/all/themes/cop/_images/share_txt.jpg" />
						</li>
						<li>
							<a href="https://www.facebook.com/dialog/share?app_id=140586622674265&display=popup&href=http%3A%2F%2Fwww.historyofvaccines.org%2F%23.V3Ldw-JwCDE.facebook&picture=&title=History+of+Vaccines+%E2%80%94+A+Vaccine+History+Project+of+The+College+of+Physicians+of+Philadelphia&description=&redirect_uri=http%3A%2F%2Fs7.addthis.com%2Fstatic%2Fthankyou.html"><img src="http://lb88-ttgt.accessdomain.com/drupal/themes/historyofvaccines/images/social-icons/02_facebook.png" alt="Facebook" /></a>
						</li>
						<li>
							<a href="https://twitter.com/intent/tweet?text=History%20of%20Vaccines%20%E2%80%94%20A%20Vaccine%20History%20Project%20of%20The%20College%20of%20Physicians%20of%20Philadelphia&url=http%3A%2F%2Fwww.historyofvaccines.org%2F%23.V3LdsNp47R8.twitter&related="><img src="http://lb88-ttgt.accessdomain.com/drupal/themes/historyofvaccines/images/social-icons/01_twitter.png" alt="Twitter" /></a>
						</li>
						<li>
							<a href="https://www.google.com/bookmarks/mark?op=add&bkmk=http%3A%2F%2Fwww.historyofvaccines.org%2F%23.V3Ld1gG7aM4.google&title=History+of+Vaccines+%E2%80%94+A+Vaccine+History+Project+of+The+College+of+Physicians+of+Philadelphia&annotation="><img src="https://lb88-ttgt.accessdomain.com/drupal/themes/historyofvaccines/images/social-icons/14_google+.png" alt="Google+" /></a>
						</li>
					</ul>
				</div>
				
				
			</div>
			
			<div class="row">
			
				<div class="pull-left">
                  <img src="http://www.historyofvaccines.org/sites/all/themes/cop/_images/hov_text.png">
				</div>    
				
				<div class="pull-right">
					<div class="header-search">
						<form action="/drupal/search/node" method="get" id="search-block-form" accept-charset="UTF-8" data-drupal-form-fields="edit-keys">
              
	<div class="search-area">
		<input title="Enter the terms you wish to search for." autocomplete="off" data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search form-control" placeholder="Enter the terms you wish to search for.">
	</div>

</form>
					</div>
				</div>  
				
			</div>
		</div>
		
	</div>
	
	<div class="container">
	<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">TIMELINE</a></li>
              <li><a href="#">ACTIVITIES</a></li>
              <li><a href="#">ARTICLES</a></li>
              <li><a href="#">GALLERY</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right small-links">
              	{{ page.primary_menu }}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    </div>
    
    <!--<li><a href="http://lb88-ttgt.accessdomain.com/drupal/content/parents">Parents</a></li>
            	<li><a href="http://lb88-ttgt.accessdomain.com/drupal/content/educators">Educators</a></li>
            	<li><a href="#">Español</a></li>
            	<li><a href="http://lb88-ttgt.accessdomain.com/drupal/content/media">Media</a></li>
            	<li><a href="http://lb88-ttgt.accessdomain.com/drupal/content/about">About</a></li>
            	<li><a href="http://lb88-ttgt.accessdomain.com/drupal/content/blog">Blog</a></li>
            	<li><a href="http://lb88-ttgt.accessdomain.com/drupal/content/faq">FAQ</a></li>-->
	
</div>