

<div class="container" style="margin-bottom:100px;">


	{% if not items is empty %}
	
		<div class="row">
			    
		    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 search-item">
		    	<h1>
                    {% if language.id == 'ar' %}نتائج البحث{% endif %}
                    {% if language.id == 'ur' %}تلاش کے نتائج{% endif %}
                    {% if language.id == 'hi' %}खोज परिणाम{% endif %}
                </h1>
		    </div>
		    
		</div>
		
		{% for item in items %}
			<div class="search row">
			    
			    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 search-item">
			    	<h3>
						<a href="{{ item['#result'].link }}">{{ item['#result'].title }}</a>
				   	</h3>
			    </div>
			    
			</div>
		{% endfor %}

	{% endif %}

</div>

