{#
/**
 * @file
 * Theme override for an item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see template_preprocess_item_list()
 */
#}
<br />
<section class="page search-page" style="background:white;">
    <div class="row">
        <div class="col-md-12">
			<div>
			
            {% if context.list_style %}
              {%- set attributes = attributes.addClass('item-list__' ~ context.list_style) %}
            {% endif %}
            {% if items or empty %}
              {%- if title is not empty -%}
                <h3>{{ title }}</h3>
              {%- endif -%}
            
              {%- if items -%}
                <div class="search-item">
                  {%- for item in items -%}
                    {{ item.value }}
                  {%- endfor -%}
                </div>
              {%- else -%}
                <div style="padding:20px;">
                {{- empty -}}
                </div>
              {%- endif -%}
            {%- endif %}
            
            </div>

        </div>
    </div>
</section>

<script type="text/javascript">

	$(document).ready(function(){
		
		if(window.location.href.indexOf('blog_post') > -1) {
			$('.filters ul li:eq(1)').addClass('active');
		} else if (window.location.href.indexOf('media') > -1) {
			$('.filters ul li:eq(2)').addClass('active');
		} else if (window.location.href.indexOf('article') > -1) {	
			$('.filters ul li:eq(0)').addClass('active');
        } else {
            $('.filters ul li:eq(0)').addClass('active');

            var key = getParameterByName('keys');
            var searchLink = window.location.origin + window.location.pathname + "?keys=" + key + "&f[0]=type:article&f[1]=type:page&f[2]=type:educational";
            window.location = searchLink;
		}
		
		$('.filters ul li a').click(function(){
			var filter = $(this).text();
			var key = getParameterByName('keys');
			
			if(filter == 'Site') {
				var searchLink = window.location.origin + window.location.pathname + "?keys=" + key + "&f[0]=type:article&f[1]=type:page&f[2]=type:educational";
				window.location = searchLink;
			}
			
			if(filter == 'Blog') { 
				var searchLink = window.location.origin + window.location.pathname + "?keys=" + key + "&f[0]=type:blog_post&advanced-form=1";
				window.location = searchLink;
			}
			
			if(filter == 'Media') {
				
				var searchLink = window.location.origin + window.location.pathname + "?keys=" + key + "&f[0]=type:media&advanced-form=1";
				window.location = searchLink;
			}
		});
	});
	
	function getParameterByName(name, url) {
	    if (!url) url = window.location.href;
	    name = name.replace(/[\[\]]/g, "\\$&");
	    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
	        results = regex.exec(url);
	    if (!results) return null;
	    if (!results[2]) return '';
	    return decodeURIComponent(results[2].replace(/\+/g, " "));
	}

</script>