footer {
    margin-top:25px;
    margin-bottom: 25px;
	font-size:12px;
	color: #888;

	a {
		color: #888;
   	}
   	
   	&:hover {
		color: #888;
 	}

    @include screen-ltmd {
        .pull-right, 
        .pull-left {
        	float:none !important;
        	text-align:center;
        }
        .text-right {
        	text-align:center !important;
        	margin-top:12px;
        }
    }
}
