.main-nav {
    text-transform:uppercase;
}
.list-inline.social-icons {
    li {
	    padding:0px;

        img {
            margin-bottom: 0;
        }
        
        a > img {
            display: block;
            width: 22px;
            height: 22px;
            top: 4px;
            position: relative;

            &.facebook { background: #3B5998; }
            &.twitter { background: #1DA1F2; }
            &.google { background: #4285F4; }
        }
    }
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	background:#555;
}

.site-header {
	background-color: #59645f;
	padding: 10px 40px 20px;
}

#navbar {
    padding: 0;
}
.navbar {
	border-radius:0px !important;
	border-bottom:1px solid #FFF !important;
    margin-bottom: 0;

    @include screen-ltmd {
        padding:12px 0;
    }
    @include screen-sm {
        padding-bottom: 0;
    }

    .mobile-logo {
        @include screen-ltmd {
            display:block;
        }
        @include screen-sm {
            margin-left: 10px;
        }
        @include screen-xs {
            margin-left: 10px;
        }
    }
}
.navbar-default {
	background-color: #606c67 !important;
	border-radius: 0px !important;
	color: white;
	border-color:#606c67 !important;

    @include screen-xs {
        height: 70px;
    }

    .navbar-nav > li > a {
    	color:white !important;

        @include screen-xs {
            letter-spacing: 2px;
            font-weight: 300;
        }

        &:hover, &:focus, &:active {
            background: #555;
        }
    }

    .small-links {
        margin-right: 5px;

        @include screen-sm {
            margin-right: 0;
            padding-right: 5px;
            background: #59645F;
            width: 100%;

            li {
                float: right;
            }
        }

        a {
            @include screen-ltlg {
                padding-left: 8px;
                padding-right: 8px;
                font-size: 13px;
            }
        }
    }
    .left-menu {

        @include screen-sm {
            float: right;
        }

        li.active:after, 
        li.active:before {
        	bottom: 0%;
            margin-bottom: -1px;
            margin-left: -5px;
        	left: 50%;
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	pointer-events: none;

            @include screen-sm {
                margin-bottom: 0px;
            }
            @include screen-xs {
                left: 0;
                top: 50%;
                margin-top: -6px;
                margin-bottom: 0;
                margin-left: 0;
            }
        }
    
        li.active:after {
        	border-bottom-color: #fff;
        	border-width: 6px;
            z-index: 1;

            @include screen-xs {
                border-left-color: #fff;
                border-bottom-color: transparent;
            }
        }
        li.active:before {
        	border-width: 9px;
        	margin-left: -9px;
            z-index: 1;
        }
    	
    	> li.active a {
	    	background:#555;
    	}
    }
    .navbar-toggle {
        border: none;
        font-size: 12px;
        font-weight: 400;

        &:hover, &:focus, &:active {
            background:none !important;
        }

        @include screen-xs {
            margin-right: 25px;
            margin-top: 4px;
        }
    }
}

@include screen-ltmd {
    .navbar-default .container, 
    .navbar-default.container {
    	padding: 0 15px !important;
    }
    
    .site-header {
    	display: none;
    }
}
@include screen-xs {
    #navbar {
        background-color: #606c67 !important;
        z-index: 1;
        position: relative;
        top: 10px;
        box-shadow: 0 5px 25px rgba(0,0,0,.35);
    }
    .main-nav {
        padding: 0 30px;
    }
    .mobile-nav {
        padding: 0 30px;

        > ul {
            margin-bottom: 15px;
        }

        a {
            color: white;
            line-height: 2.1;
            font-size: 1.3rem;
        }
    }
}
