.main-nav {
    text-transform:uppercase;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	background:#555;
}

.list-inline.social-icons >li {
	padding:0px;
}
.site-header {
	    	background-color: #59645f;
			padding: 10px 40px 20px;
    	}
    	
    	.navbar-default {
	    	background-color: #606c67 !important;
			border-radius: 0px !important;
			color: white;
			border-color:#606c67 !important;
    	}
    	
    	.navbar {
	    	border-radius:0px !important;
	    	border-bottom:1px solid #FFF !important;
    	}
    	
    	.navbar-default .navbar-nav>li>a {
	    	color:white !important;
    	}
    	
    	.navbar-default .left-menu>li>a:hover {
	    	background: #555;
    	}
    	
    	
.navbar-default .left-menu li.active:after, .navbar-default .left-menu li.active:before {
	bottom: 0%;
    margin-bottom: -2px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.navbar-default .left-menu li.active:after {
	border-bottom-color: #fff;
	border-width: 6px;
	margin-left: -6px;
    z-index: 1;
}
.navbar-default .left-menu li.active:before {
	border-width: 9px;
	margin-left: -9px;
    z-index: 1;
}
    	
    	.navbar-default .left-menu>li.active a {
	    	background:#555;
    	}
    	
    	.navbar {
	    	margin-bottom:0px;
    	}
.navbar-default .navbar-toggle {
    border: none;
    font-size: 12px;
    font-weight: 400;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background:none !important;
}