ul.left-menu > li:nth-last-of-type(-n+2) {
	display:none;
	
	@include screen-sm  {
		display: block;
	}
}

.language-switcher {
	background: #4d7061;
}
#site-logo {
    color: white;
    font-size: 35px;
    position: relative;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: 0.5s all;
    display: block;
    text-align: left;
    
    @include screen-xs  {
	    font-size: 32px !important;
    }

    &:hover, &:focus, &:active {
        opacity: 0.85;
        text-shadow: 0 0 5px rgba(0,0,0,0.75);
        text-decoration: none;
    }
}
#a_project_of {
    color: white;
    opacity: 0.65;
    transition: 0.5s all;

    &:hover, &:focus, &:active {
        opacity: 1;
        text-decoration: none;
    }
}
#language-switcher {
    height: 50px;
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.25);
    color: white;
    border-radius: 0;
    padding: 0 20px 0;
    
    @include screen-xs  {
    	height: 25px;
    }

    &:hover, &:focus, &:active {
        background: #555;
    }

    & + .dropdown-menu {
        background: #606c67;
        border-radius: 0;
        margin-top: -1px;
         left: auto;
		 right: 0;


        li {
            &.is-active {
                background: #555;
            }

            a {
                color: white;
                padding: 8px 20px;

                &:hover, &:focus, &:active {
                    background: #555;
                }
            }
        }
    }
}

.main-nav {
    text-transform: uppercase;
}
.list-inline.social-icons {
    margin: 5px 0 10px;
    padding: 0;
    text-align: right;

    @include screen-xs  {
        margin: 5px 45px 20px;
    }

    li {
	    padding:0px;

        &:first-of-type {
            background: white;
            color: #333;
            padding: 0 4px;
            top: -2px;
            position: relative;
            height: 20px;
        }

        img {
            margin-bottom: 0;
        }
        
        a > img {
            display: block;
            width: 22px;
            height: 22px;
            top: 4px;
            position: relative;

            &.facebook { background: #3B5998; }
            &.twitter { background: #1DA1F2; }
            &.google { background: #4285F4; }
        }
    }
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	background:#555;
}

.site-header {
	background-color: #59645f;
	padding: 10px 40px 20px;
}

#navbar {
    padding: 0;
}
.navbar {
	border-radius:0px !important;
	border-bottom:1px solid #FFF !important;
    margin-bottom: 0;

    @include screen-ltmd {
        padding:12px 0;
    }
    @include screen-sm {
        padding-bottom: 0;
        padding-top: 0;
    }

    .mobile-logo {
        @include screen-ltmd {
            display:block;
        }
        @include screen-sm {
            margin-left: 10px;
        }
        @include screen-xs {
            margin-left: 10px;
        }
    }
}
.navbar-default {
	background-color: #606c67 !important;
	border-radius: 0px !important;
	color: white;
	border-color:#606c67 !important;

    @include screen-xs {
        height: 70px;
    }

    .navbar-nav > li > a {
    	color:white !important;

        @include screen-xs {
            letter-spacing: 2px;
            font-weight: 300;
        }

        &:hover, &:focus, &:active {
            background: #555;
        }
    }

    .small-links {
        margin-right: 5px;

        @include screen-sm {
            margin-right: 0;
            padding-right: 5px;
            background: #59645F;
            width: 100%;

            li {
                float: right;
            }
        }

        a {
            @include screen-ltlg {
                padding-left: 8px;
                padding-right: 8px;
                font-size: 13px;
            }
        }
    }
    .left-menu {

        @include screen-sm {
            float: right;
        }

        li.active:after, 
        li.active:before {
        	bottom: 0%;
            margin-bottom: -1px;
            margin-left: -5px;
        	left: 50%;
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	pointer-events: none;

            @include screen-sm {
                margin-bottom: 0px;
            }
            @include screen-xs {
                left: 0;
                top: 50%;
                margin-top: -6px;
                margin-bottom: 0;
                margin-left: 0;
                display: none;
            }
        }
    
        li.active:after {
        	border-bottom-color: #fff;
        	border-width: 6px;
            z-index: 1;

            @include screen-xs {
                border-left-color: #fff;
                border-bottom-color: transparent;
            }
        }
        li.active:before {
        	border-width: 9px;
        	margin-left: -9px;
            z-index: 1;
        }
    	
    	> li.active a {
	    	background:#555;
            @include screen-xs {
                background: none;
            }
    	}
    }
    .navbar-toggle {
        border: none;
        font-size: 12px;
        font-weight: 400;

        &:hover, &:focus, &:active {
            background:none !important;
        }

        @include screen-xs {
            margin-right: 25px;
            margin-top: 4px;
        }
    }
}

@include screen-ltmd {
    .navbar-default .container, 
    .navbar-default.container {
    	padding: 0 15px !important;
    }
    
    .site-header {
    	display: none;
    }
}
@include screen-xs {
    #navbar {
        background-color: #606c67 !important;
        z-index: 10;
        position: relative;
        top: 10px;
        box-shadow: 0 5px 25px rgba(0,0,0,.35);
        overflow: hidden;
    }
    .main-nav {
        padding: 0 30px;
    }
    .mobile-nav {
        padding: 0 30px;

        > ul {
            margin-bottom: 15px;
        }

        a {
            color: white;
            line-height: 2.1;
            font-size: 1.3rem;
        }
    }
}

.dropdown-menu-right {
    left: auto !important;
    right: 0 !important;
}

.dropdown-menu-left {
    
    left: 0 !important;
    right: auto !important;
}