html { overflow-x: hidden; }
body {
	margin-bottom: 1px;
	background: url(../images/BG_2014_100.gif) top center no-repeat;
    overflow-x: hidden;
}

.container, 
.container-fluid {
    @include screen-ltmd {
        padding:0px !important;
    }
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
}
.row-same-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

    > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
}

.main-content {
	background: #e5f2fb;
	padding: 15px;
}
.large-block {
	width:67%;
    overflow: hidden;
    height: 340px;
    position: relative;

    img {
        margin: 0;
        min-height: 300px;
        width: 100%;
            
        @include screen-ltlg {
            min-height: 280px;
        }
        @include screen-xs {
            min-height: 0;
        }
    }

    h2 {
        position: absolute;
        left: 50px;
        font-size: 18px;
        top: 40px;
    }
    h1 {
        position: absolute;
        left: 50px;
        top: 65px;
    }

    @include screen-ltlg {
        height: 280px;
    }
    @include screen-sm {
        float:none !important; 
        width:100%;
        height: auto;
    }
    @include screen-xs {
        float:none !important; 
        width:100%;
        height: auto;
    }
}

.small-block {
	width:33%;
	color:white;
    height: 170px;
    overflow: hidden;
    position: relative;

    @include screen-ltlg {
        height: 140px;
    }
    @include screen-xs {
        float:none !important; 
		width:100%;
        height: auto;
    }

    img {
        margin: 0;
        width: 100%;
        height: auto !important;
        position: absolute;
        bottom: 0;
    }

    &.dark-blue-block {
    	background-color: rgba(64,80,95,0.9);
    	box-shadow: inset 0 -30px 18px -20px rgba(0,0,0,0.4);
    	padding:30px;
    	font-size: 14px;

        @include screen-ltlg {
            padding: 25px;
        }
    }
}
.homepage-callout {
    position: relative;
    display: block;
    margin-bottom: 20px;

    &:hover, &:focus, &:active {
        .homepage-callout-text {
            background: rgba(0,0,0,0.75);
        }
    }

    img {
        margin: 0 !important;;
    }

    .homepage-callout-text {
        position: absolute;
        bottom: 0;
        background: rgba(0,0,0,0.5);
        width: 100%;
        padding: 15px;
        text-align: center;
        color: white;
        transition: 0.5s all;
    }
}


img {
    max-width: 100%;
    margin-bottom: 5px;
}
.img-nav img {
	width:100%;
	margin-bottom:20px;
}
.view-image {
    float:left;
    margin:0 10px 5px 0;

    img {
        max-width: 100px;
    }
}

@media print {
	.nav {
		display: none;
	}
	
	.nav-pills {
		display: none;
	}
	
	footer {
		display:none;
	}
	
	.site-header {
		display: none;
	}
}