body {
	margin-bottom: 1px;
	background: url(../images/BG_2014_100.gif) top center no-repeat;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-flow: row wrap;
}
.row-same-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

    > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
}

.main-content {
	background: #e5f2fb;
	padding: 0 15px;
}
.large-block {
	width:67%;

    @media only screen and (max-width : 768px) {
        float:none !important; 
        width:100%;
    }
}

.small-block {
	width:33%;
	color:white;
	height: 139px;

    @media only screen and (max-width : 768px) {
        float:none !important; 
		width:100%;
		display:none;
    }

    &.dark-blue-block {
    	background-color: rgba(64,80,95,0.9);
    	box-shadow: inset 0 -30px 18px -20px rgba(0,0,0,0.4);
    	padding:30px;
    	font-size: 13px;
    }
}

.img-nav img {
	width:100%;
	margin-bottom:20px;
}
.view-image {
    float:left;
    margin:0 10px 5px 0;

    img {
        max-width: 100px;
    }
}