.body-mediaitem {
    float:right;
    margin-left:15px;
    width:300px;

    p {
        font-size:11px;
        margin:5px 0px;
        line-height:16px;
        color:#999;
    }
}

.drupal-view-title {
    font-weight:bold;
    margin-bottom:10px;
    display:inline-block;
    margin-bottom:10px;
}