.panel-body {
    ul li a {
    	margin-bottom:5px;
    	padding:5px 15px;
    	cursor:pointer;

        &:hover, &:focus, &:active {
        	background:rgba(255,255,255, .2);
        }
    }
}
	
#filtersList {
    @include screen-xs {
        margin: 0 -16px;
    }
}
	
.panel-group {
    .panel {
    	border-radius:0px;
    	margin-bottom:0px;
		
        .panel-heading {
        	border:none;
        	background-color: #2A594D;
        	color:#FFF;
        	border-radius:0px;

            @include screen-xs {
                margin: -16px -16px 0;
            }

            a:hover{
    			text-decoration:none;
    		}
        }
		.panel-title {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 14px;
			color: #ddd;
		}
		.panel-body {
			background-color:#36AA6B;
            border: none !important;

            @include screen-xs {
                padding: 0;
                box-shadow: 0 5px 25px rgba(0,0,0,.35);
                margin: 0 -16px;
            }
            
            label {
                font-size: 14px;
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 400;
                margin: 10px 0 0;
            }
            .checkbox {
                margin-top: 5px;
                margin-bottom: 5px;

                label {
                    text-transform: none;
                    letter-spacing: 0;
                    font-weight: 400;
                }
            }
            a {
    			font-size:13px;
    			color:white;

                &:hover, &:focus, &:active {
        			text-decoration:none;
        		}
    		}
		}
		
		table tr.selected {
			
		}
    }
		
	.panel + .panel {
		margin-top:0px;
	}
		
	.panel td {
		border:none;
	}
}
