.panel-body {
    ul li a {
    	margin-bottom:5px;
    	padding:5px 15px;
    	cursor:pointer;

        &:hover, &:focus, &:active {
        	background:rgba(255,255,255, .2);
        }
    }
}
	
.panel-body {
    li.item {
	    @include screen-xs  {
	    	padding: 0 15px;
	    }
    }
}
    
#accordionMobile > .panel > .panel-heading {
    display: block;
    border-bottom: 2px solid #DDD;
    padding: 11px 15px 13px;
    
    h4 {
        padding: 8px 15px;
    }
}
#mobileMenuList > .panel-body > .panel-group {
    margin: 0;
}

#filtersList {
    @include screen-xs {
        margin: 0 -16px;

        .panel-body {
            padding: 10px 30px 15px;
        }
    }
    @include screen-sm {
        .panel-body {
            padding: 12px 16px;
        }

        .js-form-item {
            float: left;
            width: 50%;
        }
    }
}
	
.panel-group {
    @include screen-sm {
        margin: -16px -8px 20px;
    }
    
    @include screen-xs {
        margin: -16px -16px 0;
    }

    .panel {
    	border-radius:0px;
    	margin-bottom:0px;
        border: none;
        border-bottom: 1px solid #DDD;
		
        .panel-heading {
        	border:none;
        	background-color: #2A594D;
        	color:#FFF;
        	border-radius:0px;

            @include screen-xs {
                padding: 11px 15px 13px;
            }

            a:hover{
    			text-decoration:none;
    		}
        }
		.panel-title {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 14px;
			color: #ddd;
		}
		.panel-body {
			background-color:#36AA6B;
            border: none !important;
            padding: 0;

            @include screen-xs {
                box-shadow: 0 5px 25px rgba(0,0,0,.35);
            }
            
            label {
                font-size: 14px;
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 400;
                margin: 10px 0 0;
            }
            .checkbox {
                margin-top: 5px;
                margin-bottom: 5px;

                label {
                    text-transform: none;
                    letter-spacing: 0;
                    font-weight: 400;
                }
            }
            ul {
                padding: 0;
                margin: 0;
            }
            a {
    			font-size:13px;
    			color:white;
                display: block;

                @include screen-xs {
                    font-size: 14px;
                    padding: 8px 15px;
                }

                &:hover, &:focus, &:active {
        			text-decoration:none;
        		}
    		}
		}
		
		table tr.selected {
			
		}
    }
		
	.panel + .panel {
		margin-top:0px;
	}
		
	.panel td {
		border:none;
	}
}
