.quiz-item {
    background-image: url(../images/poll_btm.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 50px;
    margin-top: 10px;

    .header {
        padding: 5px 20px;
    	background: #49708A;
    	color: white;

        h4 {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
    .questions {
     	padding: 10px 20px;
     	color: white;   
        background: #6F9DBD;
    }
    .answer {
        font-weight:bold;
    }
    .more-info {
        padding: 15px 20px;
    	color: white;
    	border-top:1px dotted white;
    	background: #6F9DBD;
    	display:none;

        a {
            color: white;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .choices {
        padding: 0 20px;
        padding-bottom: 20px;
        background: #6F9DBD;

        ul {
            margin:0px;
            padding:0px;

            li {
                color: white;
            	font-weight: bold;
            	font-size: 13px;
            	padding: 8px 10px;
            	background: #49708A;
            	cursor: pointer;
            	margin-bottom: 5px;

                &:hover, &:focus, &:active {
                    background:#5b7e95;
                }
            }
        }
    }
}
