.new-articles .contextual-region .contextual .contextual-links { display:none !important; }

.new-articles .view-image {
	float:left; 
	margin-right:10px;
}

.new-articles {
	clear:both;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            width: 33%;
            min-height: 250px;
            float: left;
            padding: 0 15px;
        }
        
        @media screen and ($screen-ltmd) {
		    li {
		        list-style: none;
		        width: 100%;
		        min-height: 160px;
		        float: left;
		        padding: 0 15px;
		    }
		}
    }
}
.sidebar .sidebar-item {
    margin-bottom:35px;
		
	h5 {
		color:maroon;
    	text-transform:uppercase;
    	letter-spacing:1px;
	}
	ul {
		padding-left:0px;	
		padding-top:0px;

        li {
			list-style:none;
		}
    }
}
