#visualization {
    margin: -15px -15px 0;
    overflow: hidden;
    background: #555 url('../images/timelinebg.jpg') top center no-repeat;
	background-size: cover;
    height: 640px;
    position: relative;
}

#visualization-timeline {
    position: absolute;
    bottom: 0;
    height: 44px;
    width: 100%;
    padding: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

    .moveright,
    .moveleft {
        color: white;
        background: #61C8F2;
        border-radius: 0;
        border: 1px solid white;
        width: 34px;
        text-align: center;
        position: relative;
        top: 0;
        transition: 0.5s all;

        &:hover, &:focus, &:active {
            top: -3px;
            box-shadow: 0 2px 2px rgba(0,0,0,0.35);
        }
    }
    .moveleft {
        text-indent: -3px;
    }
    .moveright {
        text-indent: -1px;
    }

    .slider {
        position: absolute;
        background: gray;
        height: 10px;
        left: 80px;
        border-radius: 12px;
        right: 80px;
        top: 16px;

        .ui-slider-handle {
            height: 34px;
            width: 70px;
            background: white;
            position: absolute;
            top: -11px;
            left: 0%;
            margin-left: -35px;
            cursor: pointer;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
            background: #e2e2e2; /* Old browsers */
            background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

            box-shadow: 0 0 5px rgba(0,0,0,0.25);

            &:focus, &:active, &:hover {
                outline: none;
                box-shadow: 0 0 5px rgba(0,0,0,0.5);
            }
            &:hover {
                &:after {
                    color: darken(gray, 10%);
                }
            }
            &:after {
                content: ':::::';
                font-weight: bold;
                font-size: 1.4rem;
                text-align: center;
                width: 100%;
                position: absolute;
                opacity: 0.6;
                left: -1px;
                top: 5px;
                letter-spacing: 3px;
                color: gray;
            }
        }
    }
}

.vis-timeline {
    background: none;
    border: none !important;
}

.vis-item {
}

.timeline-overview {
	
	.right {
		p {
			direction: rtl;
		}
		
		h2 {
			direction: rtl;
		}
	}
	
	.left {
		p {
			direction: ltr;
		}
		
		h2 {
			direction: ltr;
		}
	}
}
.vis-tooltip {
    display: none !important;
}

.timeline-sidebar {
	.sidebar-blurb {
		img {
			float:left; 
			margin-right:15px; 
			margin-bottom:15px;
            width: 90px;
		}
		
		.right {
			img {
				float:right; 
				margin-left:15px; 
                margin-right: 0;
				margin-bottom:15px;
                width: 90px;
			}
			
			.sidebar-item {
				h5 {
					text-align: right;
				}
			}
			p {
				text-align: right;
			}
		}
	}
}

.timeline-modal-date {
    font-size: 15px;
    font-weight: bold;
    color: #889;
    margin:0;
    text-align: right;
}

.timeline-modal-title {
    font-size: 20px;
    font-weight: bold;
    color: #35A;
    margin:0;
    margin-bottom:10px;
    text-align: right;
}

.timeline-modal-body {
	font-size:12px;
	text-align: right;
    max-height: 350px;
    overflow: auto;
}

.timeline-modal-image {
	.body-mediaitem {
		p {
			width: 94%;
			text-align: right;
		}
	}
}

#visualization-filters {
	label {
		text-align: right;
		width: 97% !important;
	}
	
	.checkbox {
		text-align: right;
	}
}

.timeline-dialog {
    width:800px;

    @include screen-sm {
        width: 100%;
        margin: 0;
    }
    @include screen-xs {
        width: 100%;
        margin: 0;
    }
}

.timeline-dialog .modal-content{
    background:#eee;
    border-radius:0px;

    @include screen-sm {
        margin: 30px;
    }
    @include screen-xs {
        margin: 10px;
    }
}

.vis-item {
    position: absolute;
    color: #1A1A1A;
    border-width: 1px;
	background:none;
    display: inline-block;
    border: 0px !important;
    text-align: left !important;
    
}
.vis-item .vis-item-content {
    height: 95px;
}

.vis-item.vis-selected {
    border: 0px !important;
    background: none !important;
    z-index: 2;
}

.vis-timeline .year {
	color:white;
	font-weight:bold;
	text-align: right;
}

.vis-timeline .timeline-entry {
	background:white;
	cursor:pointer;
    max-height: 65px;
    display: block;
    overflow: hidden;
}

.vis-timeline .timeline-entry .image {
	float:left;
    height: 65px;
    width: 65px;
}
.vis-timeline .timeline-entry .image + .title {
    height: 65px;
    width: 155px;
    text-align: right;
}

.vis-timeline .timeline-entry .image img {
	height: inherit;
	width:65px;
}

.vis-timeline .timeline-entry .title {
	float:left;
	padding:10px;
    height: auto;
    width: 220px;
    font-weight: bold;
    font-size: 12px;
    white-space: normal;
    text-align: right;
}

.vis-time-axis .vis-grid.vis-minor {
    height: 570px !important;
}

.vis-panel.vis-center {
    border: none !important;
}

.vis-time-axis.vis-foreground {
    height: 85px !important;
}

.vis-time-axis .vis-text {
	color:#ddd !important;
    font-size: 60px;
    opacity: 0.5;
    top: -15px !important;
    margin-left: 10px;
}
.vis-panel.vis-bottom {
    border: none;
}


.vis-major {
	font-size:48px;
	font-weight: 100;
}

#visualization-filters {
    position: absolute;
    z-index: 9;
    right: -15px;
    top: 50px;
    width: 320px;
    overflow: hidden;
    height: 500px;
    pointer-events: none;

    .expand {
        position: absolute;
        background: #26A862;
        color: white;
        text-transform: uppercase;
        right: 0;
        width: 90px;
        pointer-events: all;
        transition: 0.5s all;
        padding: 14px;
        letter-spacing: 1px;
        font-weight: 700;
        border-radius: 3px 0 0 3px;
	    text-align: right;
		padding-right: 30px;
    
        &.active {
            right: 200px;
        }
    }

    form {
        position: absolute;
        right: -200px;
        transition: 0.5s all;
        pointer-events: all;
        background: white;
        padding: 20px;
        width: 200px;
        box-shadow: 0 0 12px rgba(0,0,0,0.35);

        &.in {
            right: 0;
        }
        
        .js-form-item > label {
            color: #26A862;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .form-actions {
            display: none;
        }
    }
}
.timeline-overview img {
    float:left;
    margin-right:20px;
}

#views-exposed-form-timeline-page-1 div.checkbox.child {margin-left:20px;}

.timeline-modal-image #body-mediaitem-switcher {
    margin-top:10px;
}