#visualization {
    margin: -16px -16px 0;
}

.timeline-modal-date {
    font-size: 15px;
    font-weight: bold;
    color: #889;
    margin:0;
}

.timeline-modal-title {
    font-size: 20px;
    font-weight: bold;
    color: #35A;
    margin:0;
    margin-bottom:10px;
}

.timeline-modal-body {
	font-size:12px;
}

.timeline-dialog {
    width:800px;

    @include screen-sm {
        width: 100%;
        margin: 0;
    }
    @include screen-xs {
        width: 100%;
        margin: 0;
    }
}

.timeline-dialog .modal-content{
    background:#eee;
    border-radius:0px;

    @include screen-sm {
        margin: 30px;
    }
    @include screen-xs {
        margin: 10px;
    }
}

.vis-item {
    position: absolute;
    color: #1A1A1A;
    border-width: 1px;
	background:none;
    display: inline-block;
    border: 0px !important;
    text-align: left !important;
    
}
.vis-item .vis-item-content {
    height: 99px;
}

.vis-item.vis-selected {
    border: 0px !important;
    background: none !important;
    z-index: 2;
}

.vis-timeline {
	background: #555;
}

.vis-timeline .year {
	color:white;
	font-weight:bold;
}

.vis-timeline .timeline-entry {
	background:white;
	cursor:pointer;
    max-height: 89px;
    display: block;
}

.vis-timeline .timeline-entry .image {
	float:left;
    height: 89px;
    width: 89px;
}
.vis-timeline .timeline-entry .image + .title {
    height: 89px;
    width: 211px;
}

.vis-timeline .timeline-entry .image img {
	height: inherit;
	width:89px;
}

.vis-timeline .timeline-entry .title {
	float:left;
	padding:10px;
    height: auto;
    width: 300px;
    font-weight: bold;
    white-space: normal;
}

.vis-time-axis .vis-grid.vis-minor {
    height: 570px !important;
}

.vis-panel.vis-center {
    border: none !important;
}

.vis-time-axis.vis-foreground {
    height: 85px !important;
}

.vis-time-axis .vis-text {
	color:#ddd !important;
    font-size: 60px;
    opacity: 0.5;
    top: -15px !important;
    margin-left: 10px;
}


.vis-major {
	font-size:48px;
	font-weight: 100;
}